extends ./wechat

block content
  style.
    .hot_cell {
      width : 100%;
      height: 200px;
    }
    .hot_image {
      width: 25%;
      height: 150px;
      padding: 10px;
      position: relative;
      float: left;
    }
    .search_btn {
      margin: 20px auto;
      width: 50%;
    }
    .child_center_style {
      text-align:center;
    }

  h2 小六热搜榜
  .hot_cell.child_center_style
    if (movies && movies.length>0)
      each item in movies
        a(href="/movie?name=" + item.title)
          img.hot_image(src="#{item.poster}", alt="#{item.title}")
    else
      h4 小六暂时出差了

  .button_sp_area
    button#btn-search.search_btn.weui_btn.weui_btn_plain_primary 长按语音走起

  script.
    wx.config({
      debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '#{appid}', // 必填，公众号的唯一标识
      timestamp: '#{timestamp}', // 必填，生成签名的时间戳
      nonceStr: '#{noncestr}', // 必填，生成签名的随机串
      signature: '#{signature}',// 必填，签名，见附录1
      jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'onMenuShareQZone',
        'previewImage',
        'startRecord',
        'stopRecord',
        'onVoiceRecordEnd',
        'translateVoice'
      ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    })

    wx.ready(function() {
		  var isRecording=false
		  var touchStartTime, touchEndTime

  		$('#btn-search').on('touchstart', function() {
  			if (!isRecording) {
  				isRecording = true
  				touchStartTime = new Date()
  				wx.startRecord({
  					cancel: function() {
  						isRecording = false;
  						window.alert('那就不能搜了哦')
  					}
  				})
  			}
  		})

  		$('#btn-search').on('touchend', function() {
  			if (!isRecording) {
  				return
  			}
  			touchEndTime = new Date()
  			if (touchEndTime - touchStartTime > 250) {
  				wx.stopRecord({
  					success: function (res) {
  						var localId = res.localId
  						wx.translateVoice({
  							localId: localId,
  							isShowProgressTips: 1,
  							success: function(res) {
  								$.ajax({
  									type: 'get',
  									url: '/voice2movie?name=' + res.translateResult
  								})
  							}	
  						})
  					}
  				})
  			}
  			isRecording = false
  		})

    })


